<p style="color: green"><%= notice %></p>

<%= render @blog_post %>

<%# TODO: amend this to a custom view partial %>
<%= render @author %>

<div>
  <%= link_to "Edit this blog post", edit_blog_post_path(@blog_post) %> |
  <%= link_to "Back to blog posts", blog_posts_path %>

  <%= button_to("Destroy this blog post", @blog_post, method: :delete) %>
</div>
